@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jura", sans-serif;
  background-color: #12141b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-card {
  position: relative;
  background-color: #1a1c23;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 332px;
  height: 196px;
  text-align: center;
  padding: 20px;
}

.user-card:hover h2 {
  color: #cf7b5a;
}

.user-card a {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.user-card:hover a {
  display: block;
}

.user-card-title {
  display: flex;
  gap: 16px;
}

.user-avatar img {
  width: 56px;
  height: 56px;
  border-radius: 40px;
}

.user-main {
  text-align: left;
}

.user-info {
  padding: 4px 0px 16px 0px;

  &__row {
    display: flex;
    gap: 16px;
  }
}

.user-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #dcd8d3;
}

.user-text {
  color: #dcd8d3;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  padding-top: 12px;
}

.delete-button {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.follow-button:hover {
  background-color: #2980b9;
}

.container {
  display: flex;
  gap: 24px;
}

.subtitle {
  color: #8c8988;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  width: 56px;
  padding-top: 12px;
}
