.container {
  display: flex;
  flex-wrap: wrap;
}

.subtitle {
  color: #8c8988;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  width: 56px;
  padding-top: 12px;
}

.controls {
  display: flex;
  align-items: left;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  flex-grow: 1;
  background-color: #1e2027;
  color: #cf7b5a;
  border: solid 1px transparent;
}

.refresh-button {
  padding: 8px 16px;
  background-color: #12141b;
  color: #cf7b5a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
